In [2]:
import pandas as pd
import numpy as np
# data frame 1
d1 = {'Customer_id':pd.Series([1,2,3,4,5,6]),
  'Product':pd.Series(['Oven','Oven','Oven','Television','Television','Television'])}
df1 = pd.DataFrame(d1)
# data frame 2
d2 = {'Customer_id':pd.Series([2,4,6,7,8]),
    'State':pd.Series(['California','California','Texas','New York','Indiana'])}
df2 = pd.DataFrame(d2)

print(df1)
print(df2)

#locname is a key within df object
#So locname can be accessed either using dot notation or bracket notation.
#Dot Notation : df.locname
#Bracket notation: df[‘locname’]

   Customer_id     Product
0            1        Oven
1            2        Oven
2            3        Oven
3            4  Television
4            5  Television
5            6  Television
   Customer_id       State
0            2  California
1            4  California
2            6       Texas
3            7    New York
4            8     Indiana

In [3]:
print(df1.loc[:,'Product'])

0          Oven
1          Oven
2          Oven
3    Television
4    Television
5    Television
Name: Product, dtype: object

In [4]:
print(df1.loc[df1['Product'] == 'Oven'])

   Customer_id Product
0            1    Oven
1            2    Oven
2            3    Oven

In [5]:
print(df1.loc[df1.Product == 'Oven'])

   Customer_id Product
0            1    Oven
1            2    Oven
2            3    Oven

In [6]:
inner_join_df= pd.merge(df1, df2, on='Customer_id', how='inner')
inner_join_df

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas

In [7]:
outer_join_df=pd.merge(df1, df2, on='Customer_id', how='outer')
outer_join_df

   Customer_id     Product       State
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas
6            7         NaN    New York
7            8         NaN     Indiana

In [8]:
left_join_df= pd.merge(df1, df2, on='Customer_id', how='left')
left_join_df

   Customer_id     Product       State
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas

In [9]:
right_join_df= pd.merge(df1, df2, on='Customer_id', how='right')
right_join_df

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas
3            7         NaN    New York
4            8         NaN     Indiana