In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### 1. Reading a Titanic dataset from a CSV file

In [2]:
titanic_dataset=pd.read_excel('Titanic data.xlsm')
titanic_dataset.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Titanic data.xlsm'

### 2. Detecting missing values

In [ ]:
titanic_dataset.isnull().sum()

In [ ]:
titanic_dataset['Age'].isnull().sum()

### Imputing missing values

In [ ]:
titanic_dataset['Age']=titanic_dataset['Age'].fillna(titanic_dataset['Age'].mean())

In [ ]:
titanic_dataset['Age']=titanic_dataset['Age'].astype(int)

In [ ]:
titanic_dataset['Embarked']=titanic_dataset['Embarked'].fillna(titanic_dataset['Embarked'].mode()[0])

In [ ]:
titanic_dataset.isnull().sum()

In [ ]:
titanic_dataset.drop('Cabin',axis=1)

### 4. Exploring and visualizing data

#### a) Bar Plot which shows how many passengers survived and how many perished

In [ ]:
survived = titanic_dataset['Survived'].value_counts()
index = ['Perished', 'Survived']
plt.bar(index, survived)
plt.title('SURVIVAL DATA')
plt.ylabel('No. of passengers')
plt.show()

#### b) Bar Plot which shows how many passesngers travelled by first class, second class and thrid class

In [ ]:
pclass = titanic_dataset['Pclass'].value_counts()
pclass.index = pclass.index.astype(str)
plt.bar(pclass.index, pclass)
plt.title('Passengers By Class')
plt.ylabel('# of passengers')
plt.show()

#### c) Barplot which shows how many are male passengers and how many are female passengers

In [ ]:
gender = titanic_dataset['Sex'].value_counts()
index = ['Male', 'Female']
plt.bar(index, gender)
plt.title('SURVIVAL DATA')
plt.ylabel('No. of passengers')
plt.show()

#### d) plot histogram of different ages

In [ ]:
plt.figure(figsize=(10,5))
titanic_dataset['Age'].hist(grid=True)
plt.xlabel('Age of Passengers')
plt.ylabel('No. of Passengers')
plt.title("Number of Passengers acccording to Age")
plt.show()

#### e) Stacked barplot's to find out

#### -which gender is more likely to perish during shipwrecks

In [ ]:
survived = titanic_dataset[titanic_dataset['Survived']==1]['Sex'].value_counts()
perished = titanic_dataset[titanic_dataset['Survived']==0]['Sex'].value_counts()
df = pd.DataFrame([survived, perished])
df.index=['Survived', 'Perished']
df.plot(kind='bar', stacked=True, fig=(20,5), title='Sex')
plt.show()

#### -Passenger survival by class

In [ ]:
survived = titanic_dataset[titanic_dataset['Survived']==1]['Pclass'].value_counts()
perished = titanic_dataset[titanic_dataset['Survived']==0]['Pclass'].value_counts()
df = pd.DataFrame([survived, perished])
df.index=['Survived', 'Perished']
df.plot(kind='bar', stacked=True, fig=(20,5), title='Class')
plt.show()

#### f) Box Plot which shows passenger survival by age

In [ ]:
df = titanic_dataset[titanic_dataset['Survived']==1]
df.boxplot(column='Age', return_type='axes')
plt.title('Survival by Age', fontsize=12)
plt.show()

### Visualization

### 5. Read from sample superstore xl file  into pandas dataframe and perform below operations

In [ ]:
store = pd.read_excel('sample_-_superstore_2.xls')
store.head()

#### a) Display Subcategory wise sum of profit

In [ ]:
subcategory = store.groupby('Sub-Category')['Profit'].sum()
subcategory

#### b) Exclude Office Furniture SubCategory

In [ ]:
NoOfFurniture = store[store['Category'] == 'Furniture'].index
store.drop(NoOfFurniture,inplace=True)
store.reset_index()

In [ ]:
store.shape

#### c) Sort SubCategory in Desc order

In [ ]:
subcategory = store.groupby('Sub-Category').sum()
subcategory.sort_index(ascending=False)

#### d) Categorywise sum of profit in pie chart

In [ ]:
subcategoryprofit = store.groupby('Category')['Profit'].sum()
colors = ['r', 'g']
category =list(set(store['Category'].tolist()))
plt.pie(subcategoryprofit, labels=category, colors=colors, startangle=90, autopct='%.1f%%')
plt.show()

#### e) Line Chart yearwise sum of profit

In [ ]:
yearOfOrder = store['Order Date'].dt.year
store['Year of Order'] = yearOfOrder
store.head()

In [ ]:
import plotly.express as px
yearWiseProfitSum = store.groupby('Year of Order')['Profit'].sum()
fig = px.line(yearWiseProfitSum,x=yearWiseProfitSum.index,y='Profit',title=' Year Wise Sum of Profit')
fig.show()

#### f) Display Top 10 most profitable customers

In [ ]:
profitablecustomer = store.groupby('Customer Name')['Profit'].agg('sum').sort_values(ascending = False)[:10]
profitablecustomer

#### g) scatter plot between profit and sales

In [ ]:

ax1 = store.plot.scatter(x='Profit',
                      y='Sales',
                      c='Blue')

### 6. Create dept dataframe and emp dataframe with suitable data and perform inner , leftouter, RightOuter and FullOuter Joins based on common column Deptno.

In [ ]:
dept_data = {'Deptno':[10,11,12,13,14],'Dname':['Alex','John','Jason','Matt','James'],'Loc':['London','Chicago','Houston','Madrid','Mumbai']}
Dept = pd.DataFrame(dept_data)
Dept

In [ ]:
emp_data = {'Deptno':[11,13,12,10],'Eno':[101,102,103,104],'Sal':[20000,40000,25000,15000]}
Emp = pd.DataFrame(emp_data)
Emp

In [ ]:
 # inner join
    
innerjoin = pd.merge(Emp,Dept,on='Deptno',how='inner')
innerjoin

In [ ]:
#left outer join

leftouterjoin = pd.merge(Emp,Dept,on='Deptno',how='left')
leftouterjoin

In [ ]:
#right outer join

rightouterjoin = pd.merge(Emp,Dept,on='Deptno',how='right')
rightouterjoin

In [ ]:
#full outer join

fullouterjoin = pd.merge(Emp,Dept,on='Deptno',how='outer')
fullouterjoin

### Descriptive and Inferential Statistics:

### 7. Suppose the height of men in the United Kingdom is known to be normally distributed with a mean of 177 centimeters and a standard deviation of 10 centimeters. If you were to select a man from the United Kingdom population at random, what is the probability that he would be more than 200 centimeters tall?

In [ ]:
import scipy.stats as stats
from  scipy.stats import norm

In [ ]:
prob= 1- norm(177,10).cdf(200) 
print("The probability that he will be more than 200 centimeters tall is",prob)

### 8. Let's take the mileage and horsepower of various cars and see if there is a relation between the two.

mpg = [21.0, 21.0, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17.8, 16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 30.4,
       33.9, 21.5, 15.5, 15.2, 13.3, 19.2, 27.3, 26.0, 30.4, 15.8, 19.7, 15.0, 21.4]
       
       
hp = [110, 110, 93, 110, 175, 105, 245, 62, 95, 123, 123, 180, 180, 180, 205, 215, 230, 66, 52, 65, 97, 150, 150, 245, 175, 66, 91, 113, 264, 175, 335, 109]

In [ ]:
mpg = [21.0, 21.0, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17.8, 16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 30.4,
   33.9, 21.5, 15.5, 15.2, 13.3, 19.2, 27.3, 26.0, 30.4, 15.8, 19.7, 15.0, 21.4]

hp = [110, 110, 93, 110, 175, 105, 245, 62, 95, 123, 123, 180, 180, 180, 205, 215, 230, 66, 52, 65, 97, 150, 150, 245, 175, 66, 91, 113, 264, 175, 335, 109]

In [ ]:
print(np.corrcoef(mpg,hp))

#### Mileage will decrease as the horsepower increases

### 9. Perform T-test on two classes that are given a mathematics test and have 10 students in each class. Determine if 2 distributions are identical or not.
class1_score = np.array([45.0, 40.0, 49.0, 52.0, 54.0, 64.0, 36.0, 41.0, 42.0, 34.0])

class2_score = np.array([75.0, 85.0, 53.0, 70.0, 72.0, 93.0, 61.0, 65.0, 65.0, 72.0])

In [ ]:
class1_score = np.array([45.0, 40.0, 49.0, 52.0, 54.0, 64.0, 36.0, 41.0, 42.0, 34.0])

class2_score = np.array([75.0, 85.0, 53.0, 70.0, 72.0, 93.0, 61.0, 65.0, 65.0, 72.0])

In [ ]:
from scipy.stats import ttest_ind  

ttest,pval = ttest_ind(class1_score , class2_score)
print(ttest)
print(pval)

#### pval is very less, so distribution are identical

### 10. The mean score of the mathematics exam at a national level is 60 marks and the standard deviation is 3 marks.
The mean marks of a class are 53.
The null hypothesis is that the mean marks of the class are similar to the national average.
Test this Hypothesis using Z – Test.

In [ ]:
class_mean = 53
national_mean = 60
std_val= 3

z_score = (class_mean - national_mean)/std_val
print("Z Score of the given data :",z_score)

In [ ]:
p_value = round(1-norm.cdf(z_score), 3)
p_value

In [ ]:
if p_value <0.05:
    print("null hypothesis is rejected")
else:
    print("null hypothesis is true")

### 11. Calculate Pearson correlation coefficient between Girth and Volume in trees dataset( trees csv file) Pl mention what you draw from correlation coefficient

In [ ]:
tree_data = pd.read_excel('trees.xlsm')
tree_data.head()

In [ ]:
from scipy.stats import pearsonr

pearson_corr = pearsonr(tree_data['Girth'],tree_data['Volume'])
print(pearson_corr[0])

 #### As value is nearly 1, we can say that there is a strong positive correlation between Girth & volume

### Machine Learning Algorithms

### Q.12 Automobile price data Raw csv file

In [ ]:
auto_data = pd.read_excel("Automobile_price_data_raw.xlsm")

In [ ]:
auto_data.head(5)

In [ ]:
auto_data.isnull().sum()

In [ ]:
auto_data.info()

In [ ]:
numeri_col = ["normalized-losses","wheel-base","engine-size","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]
for col in numeri_col: 
    auto_data[col] = pd.to_numeric(auto_data[col].replace('?',0)) 
    auto_data[col] = auto_data[col].replace(0, np.mean(auto_data[col]))

In [ ]:
auto_data.head(5)

In [ ]:
auto_data.info()

In [ ]:

auto_data['num-of-doors'].value_counts(dropna=False)
auto_data['num-of-doors']=auto_data['num-of-doors'].fillna(auto_data['num-of-doors'].mode())

In [ ]:
auto_data["make"]=auto_data["make"].factorize()[0]
auto_data["fuel-type"]=auto_data["fuel-type"].factorize()[0]
auto_data["aspiration"]=auto_data["aspiration"].factorize()[0]
auto_data["num-of-doors"]=auto_data["num-of-doors"].factorize()[0]
auto_data["body-style"]=auto_data["body-style"].factorize()[0]
auto_data["drive-wheels"]=auto_data["drive-wheels"].factorize()[0]
auto_data["engine-location"]=auto_data["engine-location"].factorize()[0]
auto_data["engine-type"]=auto_data["engine-type"].factorize()[0]
auto_data["num-of-cylinders"]=auto_data["num-of-cylinders"].factorize()[0]
auto_data["fuel-system"]=auto_data["fuel-system"].factorize()[0]

In [ ]:
auto_data.head(5)

In [ ]:
auto_data.info()

In [ ]:
auto_data.head(5)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

x = auto_data.drop('price', axis=1)
y= auto_data['price']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:

model = LinearRegression()  

model.fit(x_train,y_train)

In [ ]:
pred= model.predict(x_test)

In [ ]:
print(pred)

In [ ]:
r2_score(y_test, pred)

### 13. The Pima Indians Diabetes Binary Classification

In [ ]:
diabetes_data = pd.read_excel('Pima Indians Diabetes Binary Classification dataset.xlsm')
diabetes_data.head()

In [ ]:
diabetes_data.info()

In [ ]:
diabetes_data.isnull().sum()

In [ ]:
X = diabetes_data.iloc[:,:8].values
y = diabetes_data.iloc[:,8].values

X_train, X_test, y_train, y_test = train_test_split(X , y , test_size = 0.20)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
sc = StandardScaler()

In [ ]:
features = diabetes_data.columns.to_list()
features.remove('Class variable (0 or 1)')
diabetes_data[features] = sc.fit_transform(diabetes_data[features])

In [ ]:
Logmodel = LogisticRegression().fit(X_train, y_train)

In [ ]:
Logpred = Logmodel.predict(X_test)

In [ ]:
Logpred

In [ ]:
accuracy_score(y_test, Logpred)

In [ ]:
confusion_matrix(y_test, Logpred)

In [ ]:
print(classification_report(y_test,Logpred))

### 14. Use hotel.csv file and Show how to cluster hotel location data with K-means Clustering. That is perform K-means clustering on hotel location data to identify whether the hotels are located in the same district.

### Using k-means cluster location data for 3 clusters.

In [ ]:
hotel_data = pd.read_excel('hotel.xlsm')
hotel_data.head()

In [ ]:
hotel_data.info()

In [ ]:
hotel_data.isnull().sum()

In [ ]:
plt.figure(figsize=(20,10))
plt.scatter(hotel_data['lon'], hotel_data['lat'])
plt.show()

In [ ]:
x= hotel_data.iloc[:,1:3]

In [ ]:
scaler = StandardScaler()
scaled = scaler.fit_transform(x)

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(n_clusters=3)

kmeans.fit(scaled)

kmeans.cluster_centers_

In [ ]:
clpred=  kmeans.predict(scaled)

In [ ]:
clustered_data = pd.DataFrame(scaled,columns=['Latitude','Longitude'])
clustered_data['cluster'] = clpred
clustered_data.head()

In [ ]:
plt.figure(figsize=(20,10))
colors = ['g.', 'r.', 'c.', 'y.']
labels = kmeans.labels_
for i in range(len(scaled)):
    plt.plot(scaled[i][0], scaled[i][1], colors[labels[i]], markersize=10)
plt.scatter(kmeans.cluster_centers_[:, 0], kmeans.cluster_centers_[:, 1], marker='x', s=200, linewidths=5, zorder=10)
plt.show()